# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelisted  files
!.gitattributes
!LICENSE
!.gitignore
!README.md
!arrayManipulation.py
!arrow-down-double-2.gif
!arrow-down-double-2.png
!arrow-up-double-2.gif
!arrow-up-double-2.png
!BorderTypeCombination.csv
!edge.py
!extendSupport.py
!field.py
!FieldPointsType.csv
!FieldPointsTypeCombination.csv
!football.py
!football.pyproj
!football.sln
!football.pyproj.user
!gameSettings.py
!gameSettings.tcl
!gameSettings_support.py
!icon.ico
!icon.png
!main.py
!main.tcl
!main_support.py
!mySave.pkl
!mySave2.pkl
!node.py
!playerAI.py
!pokus.py
!pokus_asyncio.py
!setup.py
!settings.jpg
!field.jpg